span {
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: 20px !important;
  font-weight: bold;
}
span p {
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
}
/* .fa-github */
